{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "printWidth": 100,
    "quoteProps": "as-needed",
    "jsxSingleQuote": true,
    "bracketSameLine": false,
    "vueIndentScriptAndStyle": true,
    "htmlWhitespaceSensitivity": "ignore",
    "singleAttributePerLine": false
  }
  